* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 13%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.information {
  display: flex;
  justify-content: space-between;
  width: 80%;
}


.game {
  width: 70%;
  height: auto;
}

.board {
  border: solid 1px black;
  width: 600px;
  height: 500px;
  background-color: greenyellow;
  position: absolute;
}

.board-card {
  position: relative;
  width: 60px;
  height: 100px;
}
